[submodule "restfulie-ruby"]
	path = restfulie-ruby
	url = git@github.com:caelum/restfulie.git
[submodule "restfulie-java/client"]
	path = restfulie-java/client
	url = git@github.com:caelum/restfulie-java.git
[submodule "restfulie-python/client"]
	path = restfulie-python/client
	url = git@github.com:caelum/restfulie-py.git
[submodule "restfulie-javascript/client"]
	path = restfulie-javascript/client
	url = git@github.com:caelum/restfulie-javascript.git
[submodule "restfulie-java/server"]
	path = restfulie-java/server
	url = git@github.com:caelum/vraptor.git
[submodule "restfulie-.net/server"]
	path = restfulie-.net/server
	url = https://github.com/mauricioaniche/restfulie.net.git
